.project {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  cursor: pointer;
  border-radius: 25px;
  height: 368px;
}

.project:hover {
  filter: brightness(1.3);
}

.filter:hover {
  box-shadow: inset 0px 0px 50px 25px rgba(0, 0, 0, 0.5);
}

.filter,
.project__name {
  background-color: transparent;
  text-shadow: 1px 1px 2px black;
  color: var(--clr-bg-alt);
}

.project__name {
  font-size: 2.5em;
  border-radius: 25px;
  padding: 0.2em;
}

.project__text {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project__text:hover {
  /* background-color: var(--clr-fg-alt); */
  backdrop-filter: blur(0.1em);
  padding: 2em;
}
.project:hover {
  transform: translateY(-7px);
}

.project__description {
  font-weight: bold;
  border-radius: 25px;
  padding: 0.2em 1.5em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 50px;
  padding: 0.1em 0.5em;
  background-color: var(--clr-fg-alt);
}

dialog {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  cursor: pointer;
  border-radius: 25px;
  width: 50%;
  height: 80%;
  margin: auto !important;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.project__title {
  padding: 1em 0;
}

.project__sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 550px;
}

.modale__right {
  text-align: justify;
}

details {
  padding: 2em;
}

.project__ModalText {
  padding: 0 1em;
}

.project__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: absolute;
  bottom: 1em;
  width: 100%;
  background-color: var(--clr-bg);
}

.fa-xmark {
  font-size: 2em;
}

.project__image {
  max-height: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  dialog {
    width: auto;
    margin: 10em;
  }
  .project__sections {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .project__ModalText {
    padding: 1em;
  }
}
